/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
article a {
    color: black;
    text-decoration: none;
}
/****** Header ***********/
header img {
    width: 60px;
    height: 20px;
    margin-top: 20px;
}
header nav {
    margin-top: 10px;
}
header nav a {
    margin-left: 50px;
    color: black;
    text-decoration: none;
}

header nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 8.5px;
}

.lien {
    display: flex;
    justify-content: space-between;
}

.headtitle {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.headtitle p {
    margin: 0;
}

nav ul{
    display: flex;
    margin: 0;
}

nav li {
    list-style-type: none;
}
/*** La recherche et les filtres *******/
#carte {
    border: 1px solid black;
    background-color: #F2F2F2;
    border-style: none;
    padding: 15px;
    color: #030507;
    border-radius: 15px 0px 0px 15px;
}

.destination {
    border-style: none;
    padding-left: 20px;
    font-weight: 800;
    font-size: 20px;
}

.searchicon {
    display: none;
}

.recherche {
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    width: 150px;
    height: 50px;
}

form {
    display: flex;
    border: 2px solid #F2F2F2;
    margin-top: 20px;
    border-radius: 20px 10px 10px 20px;
    width: fit-content;
}

.filtres {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filtres h2 {
    font-size: 20px;
}

.filtres li{
    display: inline-block;
    margin: 5px;
}

.filtres ul {
    padding-left: 5px;
}

.filtres a {
    color: black;
    text-decoration: none;
    border: 2px solid rgb(178, 176, 176);
    border-radius: 30px 30px 30px 30px;
    width: auto;
    height: auto;
    padding: 12px 20px 12px 20px;
    font-weight: 800;
}

.filtres a:hover {
    background-color: #DEEBFF
}

.filtres i {
    margin-right: 10px;
}

p i {
    border: 1px solid grey;
    border-radius: 90px;
    padding: 7px 6px 7px 6px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

p i {
    margin-right: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.neutral-star {
    color: rgb(232, 232, 232);
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements .section-title {
    padding-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.hebergements-cards .card {
    width: calc(30% - 10px);
    box-shadow: 0px 3px 15px 0px #DADADA;
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
}

.card-title , .card-subtitle , .card-rating {
    margin: 5px;
}

.afficher-plus {
    display: flex;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 700;
    width: 40%;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires a {
    color: black;
    text-decoration: none;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0px 3px 15px 0px #DADADA;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités *********/
.activites .section-title {
    margin-top: 40px;
    padding-left: 30px;
}

.activites a {
    display: contents;
    color: black;
    text-decoration: none;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.activites-cards article {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-style: none;
    width: 25%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px 0px #DADADA;
    margin: 20px;
}

.activites-cards img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-cards h3 {
    display: flex;
    align-items: center;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
}

.titre-activite {
    display: flex;
    height: 50px;
}
/****** À propos ********/
footer {
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-bottom: 30px;
}

.footer-title {
    margin-top: 7px;
}

.fin-page {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.box h2 {
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0;

}

.box ul {
    padding-left: 15px;
    margin-top: 10px;
}

.box li {
    display: flex;
    padding-block-start: 10px;
}

.box a {
    color: black;
    text-decoration: none;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres h2 {
        width: 100%;
        margin-bottom: 30px;
    }

    .filtres ul {
        padding: 0;
    }
    .filtres {
        display: inline-block;
        padding-left: 0;
    }
    .filtres li {
        margin: 0;
        padding-right: 10px;
    }

    .bulle-info {
        margin-bottom: 30px;
    }

    .main-container {
        padding: 0 40px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
        height: 270px;
    }
    .activites-cards img {
        height: 70%;
    }

    .titre-activite {
        height: 30%;
    }

    .activites-cards h3 {
        font-size: small;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px){
    /* ... */
    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }
    .lien {
        display: flex;
        flex-flow: column wrap;
    }

    header a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header nav {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    nav ul {
        padding: 0;
        width: 100%;
    }

    nav li {
        display: flex;
        width: 100%;
    }
    
    header nav a {
        margin: 0;
        border-bottom: 2px solid #F2F2F2;
        border-top: 0px;
        padding-bottom: 10px;
    }

    header nav a:hover {
        padding-top: 0;
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: 0px;
        padding-bottom: 10px;
    }
    .headtitle {
        padding-bottom: 15px;
        padding-top: 30px;
        padding-left: 20px;
    }

    h1 {
        margin-right: 20px;
        padding-bottom: 10px;
    }

    #carte {
        margin-left: 0;
    }

    .destination {
        width: 100%;
        margin: 0;
        padding-left: 20px;
    }

    .recherche {
        display: none;
    }

    .searchicon {
        display: flex;
        border: 1px solid var(--main-color);
        color: white;
        background-color: var(--main-color);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #989898;
    }

    form {
        display: flex;
        border: 2px solid #F2F2F2;
        margin: 20px;
        border-radius: 20px 10px 10px 20px;
        width: auto;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .filtres a {
        display: flex;
        justify-content: center;
        padding: 12px 3px 12px 3px;
    }

    .filtres h2 {
        margin-top: 0;
        margin-bottom: 5px;
        width: 90%;
    }

    .filtres ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        list-style-type: none
    }

    .filtres li {
        width: 90%;
    }

    .bulle-info {
        margin-right: 20px;
        margin-left: 20px
    }
    /**** Début Hebergements et populaires******/
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 20px;
        margin-top: 0;
        border-radius: 0px;
    }

    /**** Populaires *****/

    .populaires {
        background-color: #F2F2F2;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card-subtitle {
        margin: 5px;
    }

    .populaires-cards .card , .populaires a {
        width: 100%;
    }

    /**** Hebergements *******/
    .hebergements {
        background-color: white;
    }

    .hebergements .section-title {
        padding-top: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 100%;
        box-shadow: 0px 5px 9px 3px #C5C5C5;
    }

    .hebergements-cards .card:nth-child(1) {
        order: 1;
    }

    .hebergements-cards .card:nth-child(2) {
        order: 6;
    }

    .hebergements-cards .card:nth-child(3) {
        order: 3;
    }

    .hebergements-cards .card:nth-child(4) {
        order: 4;
    }

    .hebergements-cards .card:nth-child(5) {
        order: 2;
    }

    .hebergements-cards .card:nth-child(6) {
        order: 5;
    }

    .afficher-plus {
        padding-top: 30px;
    }
    /***** Activites ******/

    .activites {
        display: flex;
        flex-direction: column;
    }

    .activites .section-title {
        padding-left: 30px;
    }

    .activites-cards {
        flex-direction: column;
        height: 100%;
        width: auto;
    }

    .activites-cards article {
        width: 90%;   
    }

    .activites-cards h3 {
        padding-left: 10px;
    }

    .activites-cards img {
        height: 150px;
        object-fit: cover;
    }

    /**** footer *****/
    
    .fin-page {
        flex-direction: column;
        padding-top: 20px;
        margin-left: 20px;
    }
    
    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .box ul {
        margin-top: 0;
    }
}